body {
  color: var(--color-body);
  font-family: var(--font-sans);
  font-size: var(--font-size-xs);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-dark);
}

h1:not(:first-of-type),
h2:not(:first-of-type),
h3:not(:first-of-type),
h4:not(:first-of-type),
h5:not(:first-of-type),
h6:not(:first-of-type) {
  margin-top: calc(var(--space) *2);
}


h1 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-tight);
  margin: calc(var(--space) *16) 0;

}

h2 {
  font-size: var(--font-size-m);
  line-height: var(--line-height-medium);
}

h3 {
  font-size: var(--font-size-s);
  line-height: var(--line-height-medium);
}