<form class="CardBuilder">
    <p><strong>Step 1:</strong> Tell everyone about yourself.</p>
    <fieldset>
      <legend>Your details</legend>
      <label for="name">My name is</label>
      <input name="your-name" type="text" required>
      <label for="location">I live in</label>
      <input name="name" type="text" required>
      <div>
      <label for="help-type">I</label>
      <select name="help-type" required>
        <option value="can" name="help-type">can</option>
        <option value="need" name="help-type">need</option>
      </select>
      <label for="service">help with</label>
      <select name="service" required>
        <option value="everything" name="service">everything</option>
        <option value="food shopping" name="service">food shopping</option>
        <option value="picking up prescriptions" name="service">picking up prescriptions</option>
      </select>,
      <label for="time" class="visually-hidden">Time</label>
       <select name="time" required>
        <option value="anytime" name="time">anytime</option>
        <option value="everyday" name="time">everyday</option>
        <option value="every few days" name="time">every few days</option>
        <option value="in the evening" name="time">in the evenings</option>
        <option value="during the morning" name="time">during the morning</option>
        <option value="at weekends" name="time">at weekends</option>
        <option value="during my lunch break" name="time">during my lunch break</option>
      </select>
        .
      </div>
      <label for="contact-method">Please</label>
       <select name="contact-method" required>
        <option value="Call" name="contact-method">☎️ Call</option>
        <option value="Email" name="contact-method">📧Email</option>
        <option value="Tweet" name="contact-method">Tweet</option>
        <option value="WhatsApp" name="contact-method">WhatsApp</option>
        <option value="Text" name="contact-method">📱Text</option>
        <option value="Video chat" name="contact-method">📹Video chat</option>
        <option value="Instagram" name="contact-method">Instagram</option>
      </select>
      <label for="contact">me:</label>
      <input name="contact" type="text" required>
    </fieldset>
    <p><strong>Step 2:</strong> Customise your card to make it your own</p>
    <fieldset>
      <legend>Customise</legend>
      <p>Pick a colour:</p><input type="color" value="#ef3d33" id="choose-theme-color">
    </fieldset>
    <p><strong>Step 3:</strong> Share your card on social media and and start helping out, anyway you can.</p>
    <input type="button" id="generate-sticker" value="Download sticker" />
  </form>

