<section class="live-view">
  <article id="Sticker" class="Sticker">
    <header class="Sticker-header">
      <h1>Hello</h1>
      <h2>My name is</h2>
    </header>
    <section class="Sticker-body">
      <textarea id="your-name" class="your-name" placeholder="Your name here..."></textarea>
      <div>
        I live in 🌎<span><textarea class="location" placeholder="Location"></textarea></span> and I <span id="offer">[CAN/NEED]</span> help with 💁‍♂️<span id="service">[SERVICE]</span>, ⏰<span id="time">[TIME]</span>.
      </div>
    </section>
    <footer class="Sticker-footer">
      <span id="contact-method">Call</span> me: <span id="contact-details"><textarea class="contact" name="contact" placeholder="+XX-XXXX-XXX-XXX"></textarea></span>
    </footer>
  </article>
<section>
