  <footer role="contentinfo" class="Footer">
    <p class="font-mono"><a href="https://harrycresswell.com/" target="_blank">hc</a> &amp; <a href="https://benmclaren.xyz/" target="_blank">bm</a>.</p>
    <nav class="Nav Nav--footer">
      <ul class="Nav-list">
        {{ $currentPage := . }}
        {{ range .Site.Menus.footer }}
        <li class="Nav-listItem">
          <a class="Nav-listItemLink{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}} font-mono" href="{{.URL}}">{{ .Name }}</a>
        </li>
      {{ end }}
      </ul>
    </nav>
  </footer>