<aside class="live-view">
  <div id="sticker-node" class="StickerBg">
    <article class="Sticker">
      <header class="Sticker-header">
        <h1>Hello</h1>
        <h2 id="prefix">My name is</h2>
      </header>
      <section class="Sticker-body">
        <textarea id="your-name" class="your-name" placeholder="Remote cards"></textarea>
        <p class="Sticky-bodyDetails">
          <span id="user">I'm</span>
          <span id="activity">teaching</span>
          <span id="thing">sound healing</span>
          <span>live on</span>
          <span id="social-channel">Instagram</span>.
          <span class="break">
            <span id="day">Everyday</span>
            <span id="time">6am</span>
            <span>to</span>
            <span id="time-end">8pm</span>.
          </span>
        </p>
      </section>
      <footer class="Sticker-footer">
        <div class="Sticker-footerInner">
         <textarea id="contact-details" class="contact" name="contact" placeholder="https://remote.cards" maxlength="64"></textarea>
        </div>
      </footer>
  </article>
  </div>
<aside>
