<aside class="live-view">
  <div id="sticker-node" class="StickerBg">
    <article class="Sticker">
      <header class="Sticker-header">
        <h1>Hello</h1>
        <h2>My name is</h2>
      </header>
      <section class="Sticker-body">
        <textarea id="your-name" class="your-name" placeholder="Your name..."></textarea>
        <p class="Sticky-bodyDetails">
          <span>I'm</span>
          <span id="activity">teaching</span>
          <span id="thing">code</span>
          <span>live on</span>
          <span id="social-channel">Zoom</span>
          <span>from</span>
          <span id="location">my home office</span>
          <span>on</span>
          <span id="day">Sunday</span>
          <span>at</span>
          <span id="time">1am</span>
          <span id="timezone">GMT -12</span>.
        </p>
      </section>
      <footer class="Sticker-footer">
        <div class="Sticker-footerInner">
         <textarea id="contact-details" class="contact" name="contact" placeholder="hello@remote.cards" maxlength="64"></textarea>
        </div>
      </footer>
  </article>
  </div>
<aside>
