<aside class="live-view">
  <article class="Sticker">
    <header class="Sticker-header">
      <h1>Hello</h1>
      <h2>My name is</h2>
    </header>
    <section class="Sticker-body">
      <textarea id="your-name" class="your-name" placeholder="Your name here..."></textarea>
      <p class="Sticky-bodyDetails">
        <span>I live in 🌎</span>
        <span>
          <textarea class="location" placeholder="Location" rows="1"></textarea>
        </span> 
        <span>and I </span>
        <span id="offer">[CAN/NEED]</span>
        <span>help with 💁‍♂️</span>
        <span id="service">[SERVICE]</span>
        <span>,</span> 
        <span>⏰</span>
        <span id="time">[TIME]</span>.
      </p>
    </section>
    <footer class="Sticker-footer">
      <span id="contact-method">Call</span> <span>me:</span><span id="contact-details"><textarea class="contact" name="contact" placeholder="+XX-XXXX-XXX-XXX"></textarea></span>
    </footer>
  </article>
<aside>
