:root {
  --hue: 3.2;
  --saturation: 85.5%;
  --lumnosity: 56.9%;
  --alpha: 1;
  --alpha-opacity: 0.3;
  --color-brand: hsla(var(--hue), var(--saturation), var(--lumnosity), var(--alpha));
  --color-brand-opacity: var(--color-lighter);
  --color-brand-rev: #fff;
  --color-white: #fff;
  --color-dark: #222;
  --color-body: #444;
  --color-lighter: rgb(229, 229, 229);
  --color-lightest: rgba(0, 0, 0, 0.03);
  --color-selection: var(--color-lightest);
}

::selection {
  color: var(--color-brand);
  background-color: var(--color-selection);
}