:root {
  --color-brand: hsla(var(--h, 3.2), var(--s, 85.5%), var(--l, 56.9%), var(--a, 1));
  --color-brand-opacity: hsla(var(--h, 3.2), var(--s, 85.5%), var(--l, 56.9%), var(--a, .6));
  --color-brand-rev: #fff;
  --color-dark: #222;
  --color-body: #444;
  --color-lighter: rgb(229, 229, 229);
  --color-lightest: rgba(0, 0, 0, 0.03);
  --color-selection: var(--color-lightest);
}

::selection {
  color: var(--color-brand);
  background-color: var(--color-selection);
}