:root {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-hand: 'Permanent Marker', cursive;
  --font-mono: 'Fira Code', monospace;
  --font-size-xl: 48px;
  --font-size-l: 40px;
  --font-size-m: 20px;
  --font-size-s: 16px;
  --font-size-xs: 14px;
  --font-bold: 600;
  --font-medium: 400;
  --font-regular: 300;
  --line-height-tight: 1;
  --line-height-medium: 1.3;
  --line-height-loose: 1.6;
}

@include breakpoint(md) {
  :root {
    --font-size-xl: 64px;
    --font-size-l: 48px;
    --font-size-m: 24px;
    --font-size-s: 20px;
    --font-size-xs: 16px;
    --line-height-tight: 1;
    --line-height-medium: 1.3;
    --line-height-loose: 1.6;
  }
}