@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Rock+Salt&display=swap');

:root {
  --color-brand: #EF3D33;
  --color-brand-rev: #fff;
  --color-dark: #222;
  --color-body: #444;
  --color-lighter: rgb(229, 229, 229);
  --color-lightest: rgba(0, 0, 0, 0.03);
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-hand: 'Rock Salt', cursive;
  --font--mono: 'Fira Code', monospace;
  --font-size-xl: 60px;
  --font-size-l: 48px;
  --font-size-m: 32px;
  --font-size-s: 20px;
  --font-size-xs: 16px;
  --font-bold: 600;
  --font-medium: 400;
  --font-regular: 300;
  --line-height-tight: 1;
  --line-height--loose: 1.6;
  --space: calc(1rem/2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: grid;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

body {
  color: var(--color-body);
  font-family: var(--font-sans);
  font-size: var(--font-size-xs);

  h1,
  h2 {
    color: var(--color-dark);
  }
}

.Options {
  padding: calc(var(--space)*6);

  @media (min-width: 768px) {
    height: 100vh;
    overflow-y: scroll;
  }

  .site-title {
    color: var(--color-brand);
    font-family: var(--font--mono);
  }
}

.Hero {
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;

  h1 {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-tight);
    margin-bottom: calc(var(--space)*3);
  }
}

/* form stuff */

form {
  font-size: var(--font-size-s);
  padding: calc(var(--space)*2) 0;
  max-width: 860px;

  fieldset {
    border: 2px solid var(--color-lighter);
    font-weight: var(--font-bold);
    padding: calc(var(--space)*3);
    margin: calc(var(--space)*3) 0;
  }

  label {
    font-weight: var(--font-medium);
  }

  input[type="text"] {
    background: var(--color-white);
    border: solid 2px var(--color-lighter);
    border-radius: 0;
    font-size: inherit;
    outline: solid 3px transparent;
    outline-offset: 0;
    padding: var(--space);
    position: relative;
    transition: all .2s;
    margin: var(--space) 0 calc(var(--space)*2) 0;
    width: 100%;
    -webkit-appearance: none;
  }

  input:focus[type="text"],
  input:active[type="text"] {
    border: solid 2px var(--color-brand);
    outline: solid 3px rgb(217, 221, 255);
    outline-offset: 0;
    transition: all .2s;
  }

  select {
    font-size: var(--font-size-s);
    margin: var(--space);
  }
}


.live-view {
  background: var(--color-lightest);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.Sticker {
  background: var(--color-brand);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: calc(var(--space)*4);
  color: var(--color-brand-rev);
  display: flex;
  font-family: var(--font-sans);
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: calc(var(--space)*4);
  max-width: calc(var(--space)*60);
}

.Sticker-header {
  padding: calc(var(--space)*2);

  h1,
  h2 {
    color: var(--color-white);
  }

  h1 {
    font-size: var(--font-size-l);
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  h2 {
    font-weight: var(--font-regular);
  }
}

.Sticker-body {
  color: var(--color-dark);
  flex: flex-grow;
  background-color: var(--color-brand-rev);
  padding: calc(var(--space)*2);

  textarea {
    border: 0;
    font-family: var(--font-hand);
    font-size: var(--font-size-m);
    height: 48px;
    line-height: var(--line-height-tight);
    text-align: center;
    padding-top: var(--space);
    outline: 0;
  }

  div:not(:first-of-type) {
    margin-top: calc(var(--space)*2);

    & span {
      font-family: var(--font--mono);
    }
  }
}

.Sticker-footer {
  font-family: var(--font-mono);
  padding: calc(var(--space)*2);
  -webkit-font-smoothing: antialiased;

  & span {
    font-family: var(--font--mono);
  }
}

textarea {
  overflow: hidden;
  resize: none;
}

textarea.contact {
  border: 0;
  height: 24px;
  line-height: var(--line-height-tight);
  text-align: left;
  padding-top: var(--space);
  outline: 0;
  background-color: transparent;
}
/* utils */

.font-weight-400 {
  font-weight: var(--font-medium);
}

.visually-hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
