.StickerBg {
  padding: calc(var(--space) * 6);
}

@include breakpoint(md) {
  .StickerBg {
    padding: calc(var(--space) * 8);
  }
}

.Sticker {
  background: var(--color-brand);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: calc(var(--space) * 4);
  color: var(--color-brand-rev);
  display: flex;
  font-family: var(--font-sans);
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: calc(var(--space) * 6) auto;
  max-width: 85vw;

  @include breakpoint(sm) {
    max-width: 65vw;
  }

  @include breakpoint(md) {
    max-width: calc(var(--space) * 64);
  }

  textarea {
    background-color: transparent;
    border: 0;
    color: var(--color-white);
    display: inline-block;
    font-size: inherit;
    overflow: hidden;
    outline: 0;
    resize: none;
    text-align: left;
    vertical-align: middle;
  }

  .location {
    height: 38px
  }

  .contact {
    height: 26px
  }
}

.Sticker-header {
  padding: calc(var(--space)*2);

  h1,
  h2 {
    color: var(--color-white);
  }

  h1 {
    text-transform: uppercase;
    letter-spacing: var(--space);
    line-height: var(--line-height-tight);
    margin: 0;
  }

  h2 {
    font-size: var(--font-size-m);
    font-weight: var(--font-regular);
  }
}

.Sticker-body {
  color: var(--color-dark);
  background-color: var(--color-brand-rev);
  padding: calc(var(--space)*2);
  flex: 1;

  .your-name {
    border: 0;
    color: var(--color-dark);
    font-family: var(--font-hand);
    font-size: var(--font-size-l);
    height: 56px;
    line-height: var(--line-height-tight);
    max-width: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    text-align: center;
  }

}

p.Sticky-bodyDetails {
  font-size: var(--font-size-s);
  margin-top: 0;

  @media (min-width: 490px) {
    .break {
      display: block;
    }
  }

}

.Sticker-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--space) * 2);
  -webkit-font-smoothing: antialiased;

  span:not(:first-of-type) {
    margin-left: var(--space);
  }

  .contact {
    text-align: center;
    width: calc(var(--space) * 56);

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: var(--color-white);
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      color: var(--color-white);
    }

    &:-ms-input-placeholder {
      /* IE 10+ */
      color: var(--color-white);
    }

    &:-moz-placeholder {
      /* Firefox 18- */
      color: var(--color-white);
    }
  }
}