.font-weight-400 {
  font-weight: var(--font-medium);
}

.font-mono {
  font-family: var(--font-mono);
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}