.Footer {
  padding: calc(var(--space) * 3);

  @include breakpoint(lg) {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: calc(var(--space) * 2);
    right: calc(var(--space) * 2);
    text-align: right;
  }
}