.Header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-family: var(--font-mono);

  @include breakpoint(lg) {
    align-items: center;
  }

  .site-title {
    color: var(--color-brand);
    font-family: var(--font-mono);
  }
}